/*COLOR HEX CODES*/
$electric-orange: #ee6c00;
$highlight-orange: #f7b00c;
$off-white: #f0f0f0;
$dark-gray: #333333;
$gray-text: #3f3f3f;
$overlay-black: rgba(0, 0, 0, 0.65);

/*FONTS*/
$heading-font: "Raleway", "Arial Black", sans-serif;
$body-font: "Roboto", "Trebuchet MS", sans-serif;

/*SCREEN SIZES*/
$md-phone: 400px;
$md-tablet: 680px;
$sm-desktop: 960px;
$md-desktop: 1280px;
$lg-desktop: 1440px;
$xl-desktop: 1580px;