.contact-info {
	text-align: center;

	p {
		@include sm-desktop {
			font-size: 2rem;
			text-align: left;
		}
	}

	h3 {
		font-family: $body-font;
		@include sm-desktop {
			text-align: left;
			font-size: 2.4rem;
		}
	}

	a {
		color: $electric-orange;
		&:hover {
			@include transition-effects(.2s);
			color: $highlight-orange;
		}
	}
}