.testimonial {
	@include clearfix;
	text-align: center;

	.testimonial-text {

		p {
			font-family: $heading-font;
			font-style: italic;
			@include md-tablet {
				width: 100%;
				margin: 0 auto;
				font-size: 2rem;
			}
			@include sm-desktop {
				font-size: 2.2rem;
			}
		}
	}

	.thumbnail-caption {
		margin: 0 auto;
		font-size: 1.8rem;
		text-align: center;
		@include md-tablet {
			margin-top: 1.4rem;
			margin-right: 2rem;
		}

		p {
			margin: 0 auto;
			font-family: $heading-font;

			span {
				font-weight: 700;
			}
		}
	}
}