*, *:before, *:after {
	-webkit-box-sizing: inherit;
	        box-sizing: inherit;
}

html {
	width: 100%;
	height: 100%;
	font-size: 62.5%;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

body {
	@include clearfix;
	@include flexbox;
	@include vertical-flex;
	position: relative;
	min-height: 100%;
	font-size: 1.6rem;
	background-color: $off-white;
}

img {
	width: 100%;
	height: auto;
}

p {
	font-family: $body-font;
}

.heading {
	margin-top: 3rem;
	margin-bottom: 1rem;
	font-family: $heading-font;
	font-weight: 700;
	font-size: 2.6rem;
	text-align: center;
	text-transform: uppercase;
	color: black;
	@include md-phone {
		font-size: 2.8rem;
	}
	@include md-tablet {
		margin-top: 6rem;
		font-size: 3rem;
	}
	@include sm-desktop {
		font-size: 3.2rem;
	}
}

hr {
	width: 7rem;
	border-style: solid;
	border-width: 2px;
	border-color: $electric-orange;
}

.content-wrap {
	width: 100%;
	max-width: $md-desktop;
	margin-top: 3rem;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 3rem;
	padding-left: 1rem;
	padding-right: 1rem;
	position: relative;
	@include md-tablet {
		margin-top: 6rem;
		margin-bottom: 6rem;
		padding-left: 4rem;
		padding-right: 4rem;
	}
	@include sm-desktop {
		padding-left: 7rem;
		padding-right: 7rem;
	}

}