.exp-section {
	overflow: hidden;
	&:nth-of-type(odd) {
		background-color: $off-white;
	}
	&:nth-of-type(even) {
		background-color: white;
	}

	.content-wrap {
		@include md-tablet {
			padding: 0 2rem;
			display: table;
		}
		@include sm-desktop {
			padding: 0 4rem;
		}

		.picture-caption {
			@include md-tablet {
				padding: 0 2rem;
				display: table-cell;
			}
			@include sm-desktop {
				padding: 0 3rem;
			}
		}
	}
}

#commercial-services, #service-upgrades {

	.content-wrap {

		.picture-caption {
			@include md-tablet {
				width: 50%;
			}
		}
	}
}

#residential-services {

	.content-wrap {

		.picture-caption {
			@include md-tablet {
				width: 33.33%;
			}
		}
	}
}